/* Estilo e design da página HTML */



.botoes{

    /*header inicial*/
     border: 1px solid white;
     border-radius: 14px;
     box-shadow: 0px 0px 40px black;
     background-image: linear-gradient( #354186 , #b7ffb44b);


}
    

body{
    background-image: linear-gradient( #12111b , #887bff);

}

h1{
    
     border: 7px solid white;
     padding-bottom: 15px;
    text-align: center;
    width:20cm;
    height: 2cm;
    font-size: 1.7cm;
    
    background: -webkit-linear-gradient(orange,red);
    background: linear-gradient(bottom, orange,red);
    
    /*imagem */
   
    background-image: url('https://media1.giphy.com/media/BHNfhgU63qrks/giphy.gif');
    background-size: contain;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /*sombra8*/
    box-shadow: 7px 7px rgb(46, 43, 43) ; 
    
   

     /*espaçamento*/
     padding-top: 20px;
     margin-left: 7cm;
     
     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive; 
     

  


   
}

.container {

/* Alinhando a imagem */
    border:  150px  white;
    display: flex ;
    flex-flow: row wrap;
    justify-content: center ;
    
}
h2{
    background-color:  rgb(255, 201, 102);
    box-shadow: 8px 7px 15px black;
    border: 2px solid  white;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #501439;
    text-align: center;

   

}
p{   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;


}
.contatocomocriador{
    
       box-shadow: 7px 7px 16px black;
       padding-top: 1.5cm;
       height: :100%;
       display: flex ;
       flex-direction: : column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center

}

footer{
     padding-top: 5px; 
     border-top: 3px solid white;
     box-shadow: 7px 7px 15px black;
     

}
